{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}

<p class="mt-5 h5 ">Places you are looking</p>
<div class="row justify-content-md-center my-5" id="areas-table">

</div>

<div class="row justify-content-md-center my-5">
    <form method="POST" class="my-3" id="search">
        <p class="h4 my-3">Add an area!</p>
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control mt-2 mb-3") }}
        {% endfor %}
        <button class="btn btn-primary btn btn-block">search</button>
      </form>
  </div>

{% endblock %}
