{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}

<div class="row justify-content-md-center my-5">
    
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">restaurant name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
  </div>

{% endblock %}
