{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}

    {% for msg in get_flashed_messages()%}
    <p class="alert alert-info">
      {{msg}}
    </p>
    {% endfor %}
    <div class="jumbotron mt-5">
        <h1 class="display-4">Jumbotron in a container</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-outline-primary" href="/login" role="button">Log in</a>
        <a class="btn btn-primary" href="/signup" role="button">Sign up</a>
      </div>


{% endblock %}
