{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}

    <div class="jumbotron mt-5">
        <h1 class="display-4">want2go</h1>
        <p class="lead">A restaurant discovery app that focuses more on instant gratification and less on other's opinions.</p>
        <hr class="my-4">
        <p>Food is extremely subjective and what is considered spicy for others, may not be spicy for you.</p>
        <a class="btn btn-outline-primary" href="/login" role="button">Log in</a>
        <a class="btn btn-primary" href="/signup" role="button">Sign up</a>
      </div>


{% endblock %}
