{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}

    <div class="jumbotron mt-5">
        <h1 class="display-4 text-white font-weight-bold">want2go</h1>
        <p class="lead mb-5 text-white">Come discover new restaurants! &mdash; Swipe for food!</p>
        
      
        <a class="btn btn-light mb-4" href="/login" role="button">Log in</a>
        <a class="btn btn-primary mb-4" href="/signup" role="button">Sign up</a>
      </div>

      

{% endblock %}
