{% extends 'base.html' %}

{% block title %}want2go{% endblock %}

{% block content %}
<p class="mt-5 h5 ">Places you want2go</p>
<div class="row justify-content-md-center my-5" id="likes-table">

</div>
<div class="go-back mt-3" style="display: none;">
    <button class="btn btn-outline-primary btn-small"><i class="fas fa-arrow-left"></i> Go Back</button>
    
</div>
<div class="row justify-content-md-center my-3 card-view" style="display: none;">
    <div class="card restaurant-normal" style="width: 70%">
        <img src="/static/loading-200px.gif" class="card-img-top img-responsive restaurant-photo" alt="...">
        <div class="card-body">
          <h5 class="card-title res-name"></h5>
          <p class="card-text res-address"></p>
          <a class="btn btn-outline-danger unlike">Unlike</a>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_scripts %}
<script src="/static/likes.js"></script>
{% endblock %}